<!-- Primary Meta Tags -->
<title>Petition to remove the Board of the Free Software Foundation and Richard M. Stallman from the GNU Project</title>
<meta name="title" content="Petition to remove Richard Stallman from Board of Free Sofware Foundation | rms-open-letter.github.io">
<meta name="description" content="We, the undersigned, are calling for the removal of the entire Board of the Free Software Foundation, for its support of toxic and abusive behavior by Richard M. Stallman.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://rms-open-letter.github.io/">
<meta property="og:title" content="Petition to remove Richard Stallman from Board of Free Sofware Foundation | rms-open-letter.github.io">
<meta property="og:description" content="We, the undersigned, are calling for the removal of the entire Board of the Free Software Foundation, for its support of toxic and abusive behavior by Richard M. Stallman.">
<meta property="og:image" content="https://devinhalladay.github.io/rms-open-letter.github.io/assets/og-image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://rms-open-letter.github.io/">
<meta property="twitter:title" content="Petition to remove Richard Stallman from Board of Free Sofware Foundation | rms-open-letter.github.io">
<meta property="twitter:description" content="We, the undersigned, are calling for the removal of the entire Board of the Free Software Foundation, for its support of toxic and abusive behavior by Richard M. Stallman.">
<meta property="twitter:image" content="https://devinhalladay.github.io/rms-open-letter.github.io/assets/og-image.png">